<h4 class="page__comments-title">Deixe seu Comentário</h4>

<script src="https://giscus.app/client.js"
        data-repo="joelsonsmendonca/joelsonsmendonca.github.io"
        data-repo-id="R_kgDOPkt-Ww"
        data-category="General"
        data-category-id="DIC_kwDOPkt-W84Cureg"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="pt"
        crossorigin="anonymous"
        async>
</script>
